$sidebarHeaderBg: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/544318/material-header.jpg");
$pageBg: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/544318/hot-air-balloons.jpg");

$deepBlue: #1b3a4e;
$blue: #0a94ab;
$lightBlue: #79cbd6;
$orange: #f55e22;
$darkOrange: #d9571e;
$lightShadow: #6f6f6f;
$shadow: #3f3f3f;
$darkShadow: #0f0f0f;

$iconCount: 8;

html, body {
  width: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
}

::selection {
  background: transparent;
}

a {
  color: white;
  text-decoration: none;
}

#background {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: $pageBg;
  background-size: cover;
  background-position: center center;
  opacity: 0.2;
}

#fab {
  position: fixed;
  z-index: 1;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: $orange;
  box-shadow: 0 2px 8px $shadow;
  text-align: center;
  line-height: 60px;
  font-size: 1.75em;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
}

#page-header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  background-color: $blue;
  box-shadow: 0 -3px 8px 5px $shadow;

  #hamburger {
    position: relative;
    display: block;
    top: 15px;
    left: 15px;
    height: 30px;
    width: 30px;

    .line {
      position: absolute;
      display: block;
      left: 5px;
      height: 2px;
      background-color: white;

      &:first-of-type {
        transform: translateY(8px);
        width: 20px;
      }

      &:nth-of-type(2) {
        transform: translateY(15px);
        width: 18px;
      }

      &:last-of-type {
        transform: translateY(22px);
        width: 16px;
      }
    }

    &:active .line {
      &:first-of-type {
        transform: translateY(10px);
      }

      &:last-of-type {
        transform: translateY(20px);
      }
    }
  }
}

#sidebar-nav {
  position: absolute;
  z-index: 3;
  top: 0;
  height: 100vh;
  width: 400px;
  background-color: #efefef;
  box-shadow: 0 0 0 0 $shadow;
  transform: translateX(-400px);
  transition: transform 0.5s ease-in-out;

  #sidebar-header {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: $blue;
    background-image: $sidebarHeaderBg;
    background-size: cover;

    #codepen-link {
      position: relative;
      display: block;
      top: 30px;
      left: 30px;
      height: 80px;
      width: 80px;
      z-index: 10;
      border-radius: 50%;
      box-sizing: border-box;
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/544318/logo.jpg");
      background-position: center center;
      background-size: cover;
      opacity: 0.6;
      transition: all 0.25s;

      &:hover {
        opacity: 1;
        box-shadow: 0 2px 6px $darkShadow;
      }
    }

    #profile-info {
      position: relative;
      top: 15px;
      padding: 30px;

      #profile-name {
        font-size: 1.5em;
        margin-bottom: 5px;
      }
    }

    #btn-more {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 5px;
      cursor: pointer;

      .dot {
        display: block;
        height: 4px;
        width: 4px;
        border-radius: 50%;
        margin-bottom: 5px;
        background-color: white;
      }
    }
  }

  #sidebar-nav-list {
    position: relative;
    background-color: #efefef;

    .sidebar-nav-item {
      position: relative;
      z-index: 4;
      box-shadow: 0 2px 4px transparent;
      opacity: 0;
      transform: translateX(-30px);
      transition: all 0.25s ease-in-out;
      animation-fill-mode: forwards;
      background-color: #efefef;

      a {
        display: flex;
				align-items: center;
        height: 100%;
        width: 100%;
				box-sizing: border-box;
        padding: 20px 0 20px 30px;
        color: $shadow;
				.material-icons {
					padding: 0 8px 2px 0;
					color: $orange;
				}
      }

      &:hover {
        z-index: 5;
        background-color: white;
        box-shadow: 0 2px 4px $lightShadow;
      }

			@for $i from 1 through $iconCount {
				&:nth-child(#{$i}) {
					animation-delay: 0.05s * $i; 
				}
			}
    }
  }

  &:target {
    transform: translateX(0px);
    box-shadow: (-4px) 0 12px 6px $shadow;

    .sidebar-nav-item {
      animation: nav-item-fade-in 1s ease-in-out;
    }

    + #nav-screen-overlay {
      display: block;
      pointer-events: auto;
      opacity: 0.3;
    }
  }
}

#nav-screen-overlay {
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: #0f0f0f;
  opacity: 0;
  cursor: default;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

@keyframes nav-item-fade-in {
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}