.myshop {
  max-width: 150vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 100px; // потрібно на кожній сторінці
  // background-color: rgb(41, 228, 82);
}

.myshop-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 100px;
  // background-color: rgb(97, 48, 48);
}
.myshop-block {
  display: flex;
  flex-direction: row;
}
