.myshop {
  min-height: 100vh;
  // justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px; // потрібно на кожній сторінці
}

.myshop-items {
  display: flex;
  flex-direction: row;
  width: 100%;
}
